.darkModeToggle {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  justify-content: flex-end;
  padding: var(--space-md) 0;

  @media (max-width: 480px) {
    padding: 0 !important;
  }
}

:root[data-theme="dark"] .darkModeToggleButtonsWrapper {
  background: var(--background-section);
  color: var(--color-white);
}

:root[data-theme="dark"] .darkModeToggleButtonsWrapper button {
  color: var(--color-white);
}

.darkModeToggleButtonsWrapper {
  background: var(--color-gray-200);
  border-radius: var(--border-radius-xl);
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--space-sm);

  @media (max-width: 480px) {
    padding: 0;
    margin: 0;
  }
}

.darkModeToggleButtonsWrapper button {
  transform: none !important;
}

.darkModeToggleButtonsWrapper button:first-child {
  border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
}

.darkModeToggleButtonsWrapper button:last-child {
  border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
}
