.darkModeToggle {
  width: 100%;
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  justify-content: flex-end;
  padding: var(--space-md) 0;
  margin: 0 auto;
  max-width: min(var(--content-max-width), calc(100% - var(--space-5xl) * 2));

  @media (max-width: 480px) {
    margin: 14px var(--space-md);
    padding: var(--space-sm) var(--space-md);
    right: 0;
    top: 0;
  }
}

.darkModeToggleButtonsWrapper {
  background: var(--color-gray-200);
  border-radius: var(--border-radius-xl);
  padding: var(--space-sm);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  row-gap: var(--space-sm);
  margin-left: var(--space-sm);
}
