.darkModeToggle {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  justify-content: flex-end;
  padding: var(--space-md) 0;
}

:root[data-theme="dark"] .darkModeToggleButtonsWrapper {
  background: var(--background-section);
  color: var(--color-white);
}

:root[data-theme="dark"] .darkModeToggleButtonsWrapper button {
  color: var(--color-white);
}

.darkModeToggleButtonsWrapper {
  background: var(--color-gray-200);
  border-radius: var(--border-radius-xl);
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--space-sm);

  @media (max-width: 380px) {
    padding: 0;
    margin: 0;
  }
}
