.button {
  background-color: var(--color-gray-300);
  border: none;
  border-radius: 5px;
  padding: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
  width: fit-content;
  margin: auto;
}

.button:not([aria-selected="true"]):hover {
  background-color: var(--color-gray-200);
  cursor: pointer;
}

.button:disabled {
  background-color: var(--color-gray-300);
  cursor: default;
}

.button[aria-selected="true"] {
  background-color: var(--color-gray-300);
}

/* Variants */
.secondary {
  background-color: var(--color-gray-500);
}

.secondary:not([aria-selected="true"]):hover {
  background-color: var(--color-gray-600);
}

.outlined {
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-200);
}

.outlined:not([aria-selected="true"]):hover {
  border: 1px solid var(--color-gray-200);
  background-color: var(--color-gray-200);
}

/* Sizes */
.small {
  font-size: var(--font-size-xxs);
  padding: 5px 10px;
}

.medium {
  font-size: var(--font-size-xs);
  padding: 10px;
}

.large {
  font-size: var(--font-size-md);
}
