.defaultView {
  display: flex;
  flex-direction: column;
}

.pillsView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pillsView ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-lg);
  margin: 0 var(--space-md);
  padding: 0;

  @media (max-width: 1024px) {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
  }
}

.groupedView {
  display: flex;
  flex-direction: column;
}

.groupedView div:not(:last-child) {
  margin-bottom: var(--space-lg);
}

.defaultView h2,
.pillsView h2,
.groupedView h2 {
  font-size: var(--font-size-lg);
  font-weight: 400;
  line-height: 26px;
  margin-bottom: var(--space-lg);
}

.pillsView h2:first-of-type {
  width: 100%;
}

.defaultView h3,
.pillsView h3,
.groupedView h3 {
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: 26px;
}

.defaultView h3 a {
  text-decoration: underline;
  color: inherit;
}

.defaultView h3 a:hover {
  background-color: var(--color-gray-200);
}

.defaultView h4,
.pillsView h4,
.groupedView h4 {
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 26px;
}

.defaultView p,
.pillsView p,
.groupedView p {
  font-size: var(--font-size-sm);
  font-weight: 200;
  line-height: 22px;
  color: var(--color-gray-700);
}

.groupedView ul {
  list-style: disc inside;
  margin: 0;
  padding: 0;
}

.groupedView ul li {
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 26px;
}

.groupedView ul li span:nth-child(2) {
  color: var(--color-gray-600);
  font-size: var(--font-size-sm);
}

.sectionItemGrouped {
  display: flex;
  flex-direction: column;
  margin: 0 var(--space-md);

  @media (max-width: 1024px) {
    margin: 0;
  }
}

.sectionItemGrouped button {
  margin: 0 var(--space-md);
  margin-top: var(--space-xs);

  @media (max-width: 1024px) {
    align-self: center;
  }
}

.sectionGroupedItemContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin-bottom: var(--space-md);
  transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out,
    padding-bottom 0.4s ease-in-out;
  max-height: 200px;
  overflow: hidden;
  opacity: 1;
  padding-bottom: var(--space-md);
}

.sectionGroupedItemContent.hidden {
  opacity: 0;
  max-height: 0;
  padding-bottom: 0;
  pointer-events: none;
}

.sectionItem {
  display: flex;
  flex-direction: row;
  margin: 0 var(--space-md);
  gap: var(--space-lg);
  transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out,
    padding-bottom 0.4s ease-in-out;
  max-height: 500px;
  overflow: hidden;
  opacity: 1;

  @media (max-width: 1024px) {
    margin: 0;
    display: block;
  }
}

.sectionItem.visible:not(:last-child) {
  padding-bottom: var(--space-lg);
}

.sectionItem.hidden {
  opacity: 0;
  max-height: 0;
  padding-bottom: 0;
  pointer-events: none;
}

.sectionItem > :first-child {
  flex: 0 0 220px;
}

.sectionItem > :last-child {
  flex: 1;
}

.sectionItemdates {
  white-space: nowrap;
  color: var(--color-gray-600);
  font-weight: 300;
  line-height: 26px;
}

.mobileDates {
  margin: 0;
  display: flex;
  gap: var(--space-sm);

  & > p:nth-child(2)::after {
    content: ")";
  }

  & > p:nth-child(2)::before {
    content: "(";
  }

  @media (min-width: 1024px) {
    display: none;
  }

  @media (max-width: 480px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    p:nth-child(2) {
      display: none;
    }
  }
}

.desktopDates {
  @media (max-width: 1024px) {
    display: none;
  }
}

.sectionItemdates p:first-child {
  font-size: var(--font-size-sm);
}

.sectionItemdates p:nth-child(2) {
  color: var(--color-gray-600);
  font-size: var(--font-size-xs);
}

.sectionItemContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.sectionItemContent h3 span {
  color: var(--color-gray-600);
  font-size: var(--font-size-sm);
}
