.pill {
  background-color: var(--color-gray-300);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--border-radius-lg);

  display: flex;
  align-content: center;
  align-items: center;
  gap: var(--space-sm);
  cursor: default;
  user-select: none;
}

.pill.clickable:hover {
  background-color: var(--color-gray-400);
  cursor: pointer;
}

span .pill {
  background-color: var(--color-gray-300);
}

/* Variants */
.primary {
  background-color: var(--color-gray-300);
}

.outlined {
  border: 1px solid var(--color-gray-300);
  background: transparent;
}

.outlined.clickable:hover {
  background: var(--color-gray-300);
}

/* Sizes */
.small {
  font-size: var(--font-size-xxs);
  padding: var(--space-xxs) var(--space-sm);
}

.medium {
  font-size: var(--font-size-sm);
  padding: var(--space-xs) var(--space-md);
}

.large {
  font-size: var(--font-size-base);
  padding: var(--space-sm) var(--space-md);
}
