.languageSelector {
  position: absolute;
  top: var(--space-sm);
  right: max(var(--space-3xl), calc((100% - 1420px) / 2));
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  background: var(--color-white);
  box-shadow: 0 0 1px 0px
    color-mix(in srgb, var(--color-black) 20%, transparent);
  padding: var(--space-md) var(--space-lg);
  border-radius: 20px;

  @media (max-width: 480px) {
    margin: 14px var(--space-md);
    padding: var(--space-sm) var(--space-md);
    right: 0;
    top: 0;
  }
}

.languageSelector svg {
  margin-right: var(--space-sm);
}
