.languageSelector {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 480px) {
    padding: var(--space-sm) 0;
  }
}

:root[data-theme="dark"] .languageSelectorButtonsWrapper {
  background: var(--background-section);
  color: var(--color-white);
}

:root[data-theme="dark"] .languageSelectorButtonsWrapper button {
  color: var(--color-white);
}

.languageSelectorButtonsWrapper {
  background: var(--color-gray-200);
  border-radius: var(--border-radius-xl);
  padding: var(--space-sm);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  row-gap: var(--space-sm);
  margin-left: var(--space-sm);

  @media (max-width: 380px) {
    padding: 0;
    margin: 0;
  }
}
