.languageSelector {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 480px) {
    padding: 0;
  }
}

:root[data-theme="dark"] .languageSelectorButtonsWrapper {
  background: var(--background-section);
  color: var(--color-white);
}

:root[data-theme="dark"] .languageSelectorButtonsWrapper button {
  color: var(--color-white);
}

.languageSelectorButtonsWrapper {
  background: var(--color-gray-200);
  border-radius: var(--border-radius-xl);
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--space-sm);

  @media (max-width: 380px) {
    padding: 0;
    margin: 0;
  }
}

.languageSelectorButtonsWrapper button {
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}

.languageSelectorButtonsWrapper button {
  transform: none !important;
}

.languageSelectorButtonsWrapper button:first-child {
  border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
}

.languageSelectorButtonsWrapper button:nth-child(2) {
  border-radius: var(--border-radius-none);
}

.languageSelectorButtonsWrapper button:nth-child(3) {
  border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
}
