:root {
  --color-white: #ffffff;
  --color-gray-100: #f6f6f6;
  --color-gray-200: #eaeaea;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #999999;
  --color-gray-600: #555555;
  --color-gray-700: #171717;
  --color-gray-800: #111111;
  --color-black: #000000;

  --background: var(--color-gray-100);
  --foreground: var(--color-gray-700);

  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 30px;
  --font-size-3xl: 36px;
  --font-size-4xl: 48px;

  --space-xxs: 2px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;
  --space-4xl: 64px;
  --space-5xl: 72px;
  --space-6xl: 96px;

  --bp-mobile: 480px;
  --bp-tablet: 768px;
  --bp-laptop: 1024px;
  --bp-desktop: 1280px;
  --bp-tv: 1600px;

  --content-max-width: 1420px;

  --border-radius-rounded: 5px;
  --border-radius-circle: 50%;
  --border-radius-none: 0px;
  --border-radius-xxs: 2px;
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
  --border-radius-xxl: 24px;

  --breakpoint-phone: 0px;
  --breakpoint-xs: 320px;
  --breakpoint-sm: 360px;
  --breakpoint-md: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-desktop: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1328px;
  --breakpoint-3xl: 1536px;
  --breakpoint-big-desktop: 1920px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-gray-700);
    --foreground: var(--color-gray-300);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
