.page {
  font-family: var(--font-geist-sans);
  margin: var(--space-6xl) auto;
  padding: var(--space-3xl);
  max-width: min(var(--content-max-width), calc(100% - var(--space-3xl) * 2));
  background: var(--color-white);
  box-shadow: 0 0 1px 0px
    color-mix(in srgb, var(--color-black) 20%, transparent);
  border-radius: 4px;

  @media (max-width: 480px) {
    margin: var(--space-5xl) var(--space-md) var(--space-lg);
    max-width: calc(100% - var(--space-md) * 2);
    padding: var(--space-xl);
  }
}

.page header {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--space-lg);

  @media (max-width: 1024px) {
    justify-content: center;
  }
}

.page header div:nth-child(1) {
  margin: var(--space-sm) 0;
}

.page header h1 {
  font-size: var(--font-size-xl);
  font-weight: 400;
  margin: var(--space-xs) 0 0 0;

  @media (max-width: 1024px) {
    font-size: var(--font-size-lg);
  }
}

.page header p {
  font-size: var(--font-size-md);
  font-weight: 300;
  margin: var(--space-xs) 0 0 0;

  @media (max-width: 1024px) {
    text-align: center;
    font-size: var(--font-size-base);
  }
}

.page header svg {
  width: 16px;
}

@media (max-width: 1024px) {
  .page header .imageWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .page header .baseInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .page header .baseInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page header .location,
.page header .nationality,
.page header .phone,
.page header .email,
.page header .titleDetail {
  font-size: var(--font-size-sm);
  margin: var(--space-sm) 0 0 0;
  display: flex;
  gap: var(--space-sm);
  align-items: center;
}

.page header img {
  --img-size: 152px;
  border-radius: 50%;
  width: var(--img-size);
  height: var(--img-size);
  box-shadow: 0 0 3px var(--color-black);
}

.headerPillsWrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: var(--space-sm) 0;
  gap: var(--space-sm);
  margin-left: auto;

  @media (max-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: revert;
  }
}

.headerPillsWrapper > a > svg {
  font-size: 18px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 28px;
  grid-row-start: 2;
}

.about {
  margin-top: var(--space-xl);
  gap: var(--space-xxs);
}

.about h2 {
  margin-bottom: var(--space-sm);
  font-size: var(--font-size-lg);
  font-weight: 400;
  line-height: 26px;
}

.about h4 {
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 26px;
  color: var(--color-gray-600);
}

.about p {
  font-size: var(--font-size-sm);
  font-weight: 200;
  line-height: 22px;
  color: var(--color-gray-700);
  text-align: left;
}

.about div {
  margin: 0 var(--space-md);

  @media (max-width: 1024px) {
    margin: 0;
  }
}
