.button {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  border-radius: var(--border-radius-md);
  padding: var(--space-md) var(--space-lg);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
  width: fit-content;
  font-weight: 500;
  font-size: var(--font-size-sm);
  letter-spacing: 0.5px;
  transition: all 0.5s ease;
  color: var(--color-gray-700);
}

.button:not([aria-pressed="true"]):not(:disabled):hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(37, 99, 235, 0.2);
}

.button:disabled {
  background-color: var(--color-gray-300);
  cursor: default;
  opacity: 0.6;
}

.button[aria-pressed="true"] {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
}

/* Variants */
.secondary {
  background-color: transparent;
  border: none;
  color: var(--color-gray-800);
}

:root[data-theme="dark"] .secondary {
  color: var(--color-white);
}

.secondary:not([aria-pressed="true"]):not(:disabled):hover {
  background-color: var(--color-gray-600);
  color: var(--color-white);
}

:root[data-theme="dark"]
  .secondary:not([aria-pressed="true"]):not(:disabled):hover {
  color: var(--color-white);
}

.outlined {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
}

.outlined:not([aria-pressed="true"]):not(:disabled):hover {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
}

.outlined[aria-pressed="true"] {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
}

/* Sizes */
.small {
  font-size: var(--font-size-xxs);
  padding: 5px 10px;
}

.medium {
  font-size: var(--font-size-xs);
  padding: 5px 10px;

  @media (max-width: 480px) {
    padding: 8px;
  }
}

.large {
  font-size: var(--font-size-md);
}
